* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.landing-page {
    background-color: #2B211C;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.landing-page-title{
    color:white;
    font-size:80px;
}
.landing-page-subtitle{
    color:#DDA15E;
    font-family: 'Intel One Mono Variable', 'Courier New', Courier, monospace;
    font-size: 28px;
    margin-top: 10px;
}

.landing-page-subtitle-coffee{
    color:#DDA15E;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin-top: 10px;
}
.landing-page-subtitle-secondary{
    color:white;
    font-size:80px;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.line-decoration {
    width: 70px;
    height: 1px;
    background-color: #DDA15E;
    margin-bottom: 20px;
    margin-top:30px;
    margin-right:15px;
}

.landing-content {
    padding-left: 10px;
    display: flex;
    min-height: 100vh;
    padding: 40px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-page-container{
    display:flex;
}
.landing-page-description{
    color:white;
    font-size: 28px;
    margin-top: 10px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 4;
    font-style:italic;
}
